@import "../../node_modules/bulma/sass/utilities/initial-variables.sass"
@import "../../node_modules/bulma/sass/utilities/functions.sass"

$tablet: 640px

$primary: #FF6F00
$dark: #363636
$light: #F6F5F1

$light-mint: #E9F3E4
$light-purple: #EAE6ED
$light-cyan: #DFF7F6
$light-peach: #FBEED0

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass"

$modal-content-width: 90vw

$link: $primary
