@import "../../layout/colors";

.projects-bg
  background: $light-mint url(/img/projects-bg.png) 95% -60% no-repeat
  background-size: 60%

  @media only screen and (-moz-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/projects-bg@2x.png)
      background-size: 30%

  @media only screen and (-o-min-device-pixel-ratio: 3/2)
    &
      background-image: url(/img/projects-bg@2x.png)
      background-size: 30%

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/projects-bg@2x.png)
      background-size: 30%

  @media only screen and (min-devicepixel-ratio: 1.5)
    &
      background-image: url(/img/projects-bg@2x.png)
      background-size: 30%

  @media only screen and (min-resolution: 1.5dppx)
    &
      background-image: url(/img/projects-bg@2x.png)
      background-size: 30%

.crew-bg
  background: $light-purple url(/img/crew-bg.png) 100% -250% no-repeat
  background-size: 60%

  @media only screen and (-moz-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/crew-bg@2x.png)
      background-size: 30%

  @media only screen and (-o-min-device-pixel-ratio: 3/2)
    &
      background-image: url(/img/crew-bg@2x.png)
      background-size: 30%

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/crew-bg@2x.png)
      background-size: 30%

  @media only screen and (min-devicepixel-ratio: 1.5)
    &
      background-image: url(/img/crew-bg@2x.png)
      background-size: 30%

  @media only screen and (min-resolution: 1.5dppx)
    &
      background-image: url(/img/crew-bg@2x.png)
      background-size: 30%


.drone-bg
  background: $light-cyan url(/img/drone-bg.png) 100% -20% no-repeat
  background-size: 60%

  @media only screen and (-moz-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/drone-bg@2x.png)
      background-size: 30%

  @media only screen and (-o-min-device-pixel-ratio: 3/2)
    &
      background-image: url(/img/drone-bg@2x.png)
      background-size: 30%

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/drone-bg@2x.png)
      background-size: 30%

  @media only screen and (min-devicepixel-ratio: 1.5)
    &
      background-image: url(/img/drone-bg@2x.png)
      background-size: 30%

  @media only screen and (min-resolution: 1.5dppx)
    &
      background-image: url(/img/drone-bg@2x.png)
      background-size: 30%

.multicam-bg
  background: $light-peach url(/img/pts-bg.png) 100% 10% no-repeat
  background-size: 60%

  @media only screen and (-moz-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/pts-bg@2x.png)
      background-size: 30%

  @media only screen and (-o-min-device-pixel-ratio: 3/2)
    &
      background-image: url(/img/pts-bg@2x.png)
      background-size: 30%

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5)
    &
      background-image: url(/img/pts-bg@2x.png)
      background-size: 30%

  @media only screen and (min-devicepixel-ratio: 1.5)
    &
      background-image: url(/img/pts-bg@2x.png)
      background-size: 30%

  @media only screen and (min-resolution: 1.5dppx)
    &
      background-image: url(/img/pts-bg@2x.png)
      background-size: 30%
